/* HEADER STYLES MOBILE */
.header {
  background-color: #282c34;
  padding: 10px 0;
  color: white;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
nav a {
  color: rgb(230, 230, 230);
  text-decoration: none;
  padding: 12px 16px;
  font-size: 1.1em;
}
nav a:hover {
  background-color: #4e737d;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}
/* HEADER STYLES DESKTOP */
@media screen and (min-width: 768px) {
  nav ul {
    justify-content: flex-end;
    gap: 40px;
    padding-right: 20px;
  }
}
